.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebarFriend img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.sidebarFriendName {
  margin-left: 10px;
}
